<hgroup class="title">
    <h1>@ViewBag.Title </h1>
    <h2>@ViewBag.Message </h2>
</hgroup>

<hgroup class="title">
    <h1>@ViewBag.Title </h1>
    <h2>@ViewBag.Message </h2>
</hgroup>

@if(1>0)
{
    String strPrint = "這是測試輸出文字";
    @strPrint<br />
    <span>strPrint</span><br />
    <span>@strPrint</span><br />
}

@if (1 > 0)
{
    @:這是測試輸出文字
}<br />

@{string strl = "測試";}
@strl 輸出文字<br />

@{string str2 = "測試";}
@(str2)輸出文字<br />

@{string strHtml1 = "<u1><li>項目一</u1></li>";}
@strHtml1<br />

@{string strHtml = "<u1><li>項目一</u1></li>";}
@Html.Raw(strHtml)<br />

@{
    int a = 1;
    string str = "測試字串";
    @str
}

@*這是註解*@

<ul>
    <li>@Html.ActionLink("關於","About")</li>
</ul>

<ul>
    <li>@Html.ActionLink("關於", "About", "Home")</li>
</ul>

<ul>
    <li>@Html.ActionLink("關於", "About", new{ id=0 })</li>
</ul>

<ul>
    <li>@Html.ActionLink("關於", "About", new { id = 0 }, new { @class = "Link" })</li>
</ul>

@using (Html.BeginForm()) {
    @Html.Label("txtId", "使用者名稱：")
    @Html.TextBox("txtId")<br />
    @Html.Label("txtPasswd", "密碼：")
    @Html.Password("txtPasswd")<br />
    @Html.Label("Remember", "記住我：")
    @Html.CheckBox("Remember")
}
